ul {
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  color: #012;
  background-color: #fff;
}

a {
  color: #57a;
  font-weight: bold;
  text-decoration: none;
}

p,
ul,
ol,
dl {
  font-size: 100%;
  line-height: 32px;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  letter-spacing: 3px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 0px;
  text-align: center;
  position: relative;
}
blockquote footer {
  position: absolute;
  bottom: -35px;
  font-size: 80%;
  color: #333333;
  letter-spacing: 0px;
  left: 0px;
  right: 0px;
}
blockquote p {
  display: inline;
  font-size: 120%;
  color: #828282;
  font-weight: 400;
}

strong {
  color: #16a085;
}

html, body {margin: 0; height: 100%; overflow: hidden}