.display-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap-inherit {
  flex-wrap: inherit;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.border-radius-10px {
  border-radius: 10px;
}

.background-image {
  background-image: url("/doogle.png");
  background-size: contain;
  background-position: 100px 5px;
  background-repeat: repeat;
}