.display-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap-inherit {
  flex-wrap: inherit;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}