.margin-left-10px {
  margin-left: 10px;
}

.margin-right-35px {
  margin-right: 35px;
}

.margin-top-6px {
  margin-top: 6px;
}

.margin-0px {
  margin: 0px;
}

.margin-auto {
  margin: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-60px-auto {
  margin: 60px auto;
}