.pad-bottom-20px {
  padding-bottom: 20px;
}

.pad-horizontal-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-horizontal-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-horizontal-30px {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-vertical-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-vertical-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}